<div class="my-9">
  <div class="text-4xl font-bold">Web UI Style Guide</div>
  <div class="text-lg">UI style guide is a style guideline to be used in website, it includes elements and their states
    (active, hover,
    disabled etc)
  </div>
</div>

<!--Primary Brand Color-->
<div class="mb-9">
  <div class="text-4xl font-bold mb-3">
    Primary Brand Color
  </div>
  <div class="flex">
    <div class="ml-3">
      <div class="rounded bg-theme w-[110px] h-[110px]"></div>
      <div>bg-theme</div>
    </div>

    <div class="ml-3">
      <div class="rounded bg-primary w-[110px] h-[110px]"></div>
      <div>bg-primary</div>
    </div>

    <div class="ml-3">
      <div class="rounded bg-danger w-[110px] h-[110px]"></div>
      <div>bg-danger</div>
    </div>

    <div class="ml-3">
      <div class="rounded bg-warning w-[110px] h-[110px]"></div>
      <div>bg-warning</div>
    </div>

    <div class="ml-3">
      <div class="rounded bg-success w-[110px] h-[110px]"></div>
      <div>bg-success</div>
    </div>

  </div>
</div>

<!--Typography-->
<div class="mb-9">
  <div class="text-4xl font-bold mb-3">
    Typography
  </div>
  <div class="bg-white">
    <div class="text-xl">Regular 400</div>
    <div class="text-xl font-semibold">Semi Bold 600</div>
    <div class="text-xl font-bold">Bold 700</div>
  </div>
</div>

<!--Font Size-->
<div class="mb-9">
  <div class="text-4xl font-bold mb-3">
    Font Size
  </div>
  <div class="">

    <div class="text-5xl grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">5xl</div>
      <div class="col-span-1">48px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-4xl grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">4xl</div>
      <div class="col-span-1">36px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-3xl grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">3xl</div>
      <div class="col-span-1">30px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-2xl grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">2xl</div>
      <div class="col-span-1">24px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-xl grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">xl</div>
      <div class="col-span-1">20px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-lg grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">lg</div>
      <div class="col-span-1">18px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-base grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">base</div>
      <div class="col-span-1">16px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-sm grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">sm</div>
      <div class="col-span-1">14px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>

    <div class="text-xs grid grid-cols-10 border-b border-gray-900 py-3">
      <div class="col-span-1">xs</div>
      <div class="col-span-1">12px</div>
      <div class="col-span-8">Lorem Ipsum is not simply random text.</div>
    </div>


  </div>
</div>
