<nz-card>
  <div>
    <button class="border p-2" nzType="primary" (click)="getUserDetail()">
      {{'tester.refresh'|translate}}
    </button>
  </div>

  <div class="grid grid-cols-3 gap-2">
    <client-card *ngFor="let clientDetail of clientDetails"></client-card>
  </div>

  <span class="material-icons-outlined">account_circle</span>
  <button class="border p-2 mr-3" nzType="primary" (click)="direct()">
    {{'tester.redirect'|translate}}
  </button>


  <div *ngIf="clientDetails">
    <div *ngFor="let client of clientDetails">
      <p>{{'tester.client.detail'|translate}}</p>
      <div>
        {{'tester.id'|translate}} : {{client.id}}
      </div>
      <div>
        {{'tester.name'|translate}} : {{client.name}}
      </div>
      <div>
        {{'tester.email'|translate}} : {{client.email}}
      </div>
      <div>
        {{'tester.phone'|translate}} : {{client.phone}}
      </div>
    </div>
  </div>
</nz-card>



